# ESLint config
# http://eslint.org/

env:
  browser: true
  es6: true
  node: true
  jquery: true

rules:
  strict: ["off"]
  comma-dangle: ["error", "never"]
  indent: ["error", 2]
  quotes: ["error", "single"]
  brace-style: ["warn", "1tbs"]
  semi: ["error", "always"]
  linebreak-style: ["error", "unix"]
  one-var: ["warn", "never"]
  comma-style: ["warn", "last"]
  curly: ["error", "all"]
  eqeqeq: ["warn", "allow-null"]
  key-spacing: ["warn", {beforeColon: false, afterColon: true}]
  comma-spacing: ["warn", {before: false, after: true}]
  space-before-blocks: ["warn", "always"]
  space-in-parens: ["warn", "never"]
  space-before-function-paren: ["warn", "never"]
  no-trailing-spaces: ["warn"]
  keyword-spacing: ["warn", {before: true, after: true}]
