---
layout: default
title: home
pageId: home
permalink: /
---

<div class="mainList">
  {% if site.posts.size > 0 %}
    <div class="posts">
      {% for post in site.posts %}
        <div class="post">
          <h2>
             <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>

          <dl class="meta date">
            <dt>date</dt>
            <dd>{{ post.date | date: "%B %-d, %Y" }}</dd>
          </dl>

          {% if post.tags.size > 0 %}
            <dl class="meta tags">
              <dt>tags</dt>
              <dd>
                {% for tag in post.tags %}
                  <a href="/tags/#{{ tag }}">{{ tag }}</a>
                {% endfor %}
              </dd>
            </dl>
          {% endif %}

          <p class="excerpt">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt | truncatewords: 30}}
            {% endif %}
          </p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="empty">No posts yet</p>
  {% endif %}
</div>
