@charset "utf-8";

.highlight {
    background-color: #f8f8f8;

    // Comment
    .c {
        font-style: italic;
        color: #998;
    }

    // Error
    .err {
        background-color: #e3d2d2;
        color: #a61717;
    }

    // Keyword
    .k {
        font-weight: bold;
    }

    // Operator
    .o {
        font-weight: bold;
    }

    // Comment.Multiline
    .cm {
        font-style: italic;
        color: #998;
    }

    // Comment.Preproc
    .cp {
        font-weight: bold;
        color: #999;
    }

    //  Comment.Single
    .c1 {
        font-style: italic;
        color: #998;
    }

    // Comment.Special
    .cs {
        font-weight: bold;
        font-style: italic;
        color: #999;
    }

    // Generic.Deleted
    .gd {
        background-color: #fdd;
        color: #000;
    }

    .gd .x {
        background-color: #faa;
        color: #000;
    }

    // Generic.Emph
    .ge {
        font-style: italic;
    }

    // Generic.Error
    .gr {
        color: #a00;
    }

    // Generic.Heading
    .gh {
        color: #999;
    }

    // Generic.Inserted
    .gi {
        background-color: #dfd;
        color: #000;
    }

    .gi .x {
        background-color: #afa;
        color: #000;
    }

    // Generic.Output
    .go {
        color: #888;
    }

    // Generic.Prompt
    .gp {
        color: #555;
    }

    // Generic.Strong
    .gs {
        font-weight: bold;
    }

    // Generic.Subheading
    .gu {
        font-weight: bold;
        color: #800080;
    }

    // Generic.Traceback
    .gt {
        color: #a00;
    }

    // Keyword.Constant
    .kc {
        font-weight: bold;
    }

    // Keyword.Declaration
    .kd {
        font-weight: bold;
    }

    // Keyword.Namespace
    .kn {
        font-weight: bold;
    }

    // Keyword.Pseudo
    .kp {
        font-weight: bold;
    }

    // Keyword.Reserved
    .kr {
        font-weight: bold;
    }

    // Keyword.Type
    .kt {
        font-weight: bold;
        color: #458;
    }

    // Literal.Number
    .m {
        color: #099;
    }

    // Literal.String
    .s {
        color: #ef4c4c;
    }

    // Name
    .n {
        color: #333;
    }

    // Name.Attribute
    .na {
        color: teal;
    }

    // Name.Builtin
    .nb {
        color: #0086b3;
    }

    // Name.Class
    .nc {
        font-weight: bold;
        color: #458;
    }

    // Name.Constant
    .no {
        color: teal;
    }

    // Name.Entity
    .ni {
        color: purple;
    }

    // Name.Exception
    .ne {
        font-weight: bold;
        color: #900;
    }

    // Name.Function
    .nf {
        font-weight: bold;
        color: #900;
    }

    // Name.Namespace
    .nn {
        color: #555;
    }

    // Name.Tag
    .nt {
        color: navy;
    }

    // Name.Variable
    .nv {
        color: teal;
    }

    // Operator.Word
    .ow {
        font-weight: bold;
    }

    // Text.Whitespace
    .w {
        color: #bbb;
    }

    // Literal.Number.Float
    .mf {
        color: #099;
    }

    // Literal.Number.Hex
    .mh {
        color: #099;
    }

    // Literal.Number.Integer
    .mi {
        color: #099;
    }

    // Literal.Number.Oct
    .mo {
        color: #099;
    }

    // Literal.String.Backtick
    .sb {
        color: #d14;
    }

    // Literal.String.Char
    .sc {
        color: #d14;
    }

    // Literal.String.Doc
    .sd {
        color: #d14;
    }

    // Literal.String.Double
    .s2 {
        color: #d14;
    }

    // Literal.String.Escape
    .se {
        color: #d14;
    }

    // Literal.String.Heredoc
    .sh {
        color: #d14;
    }

    // Literal.String.Interpol
    .si {
        color: #d14;
    }

    // Literal.String.Other
    .sx {
        color: #d14;
    }

    // Literal.String.Regex
    .sr {
        color: #009926;
    }

    // Literal.String.Single
    .s1 {
        color: #d14;
    }

    // Literal.String.Symbol
    .ss {
        color: #990073;
    }

    // Name.Builtin.Pseudo
    .bp {
        color: #999;
    }

    // Name.Variable.Class
    .vc {
        color: teal;
    }

    // Name.Variable.Global
    .vg {
        color: teal;
    }

    // Name.Variable.Instance
    .vi {
        color: teal;
    }

    // Literal.Number.Integer.Long
    .il {
        color: #099;
    }

    .gc {
        background-color: #eaf2f5;
        color: #999;
    }
}
