<head>
  <!-- Character Set -->
  <meta charset="utf-8">

  <!-- Title -->
  {% if page.title %}
    {% if page.title == 'home' %}
      <title>{{ site.title }}</title>
    {% else %}
      <title>{{ page.title | capitalize | append: ' - ' | append: site.title }}</title>
    {% endif %}
  {% else %}
    <title>{{ site.title }}</title>
  {% endif %}

  <!-- Description -->
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="{{ site.description }}">
  {% endif %}

  <!-- Viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/images/icons/favicon.ico" type="image/x-icon">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">

  <!-- Apple Application Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-icon-180x180.png">

  <!-- Canonical -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Stylesheet -->
  <link rel="stylesheet" href="/assets/styles/style.css">

  <!-- RSS Feed -->
  <link rel="alternate" type="application/rss+xml" title="My Weblog feed" href="/feed.xml">
</head>
