<header class="siteHeader">
  <div class="logo">
    <a href="{{ site.baseurl }}/">
      <svg viewBox="0 0 107 75" role="img" class="symbol">

        <!-- shadow -->
        <path opacity=".15" d="M87 60h19L87 75z" />

        <!-- note -->
        <path class="note" fill="#3fa1d5" d="M17 75h70V0H17v5h-5v5h5v5h-5v5h5v5h-5v5h5v5h-5v5h5v5h-5v5h5v5h-5v5h5v5h-5v5h5z" />

        <!-- number -->
        <path fill="#fff" d="M44 19v8h5v29h7V19z" />
      </svg>

      <svg
        viewBox="0 0 188 38"
        role="img"
        aria-label="{{ site.title }}"
        class="logotype">

        <title>{{ site.title }}</title>

        <g class="ht">
          <!-- unicode "1" -->
          <path
            fill="#222"
            d="M5,8H0V0h6.878H12v38H5V8z" />

          <!-- unicode "U" -->
          <path
            fill="#222"
            d="M24,0v23c0,7,3,9,6,9s6-2,6-9V0h7v22.016C43,32,39,38,30,38s-13-6-13-16V0H24z" />

          <!-- unicode "P" -->
          <path
            fill="#222"
            d="M48,0c0,0,4.523,0,9.545,0C62.621,0,64.57,1.056,67,3c2.322,1.836,4,6.436,4,10c0,3.564-1.84,4.948-4,7
            c-2.808,2.646-4,4-12,4v14h-7V0z M58,18c4,0,7-2.274,7-6c0-3.348-3-6-7-6h-3v12H58z" />
        </g>

        <g class="nt">
          <!-- unicode "N" -->
          <path
            fill="#888"
            d="M76,38V0h4.912L98,30V0h5v38h-5.69L81,11v27H76z" />

          <!-- unicode "O" -->
          <path
            fill="#888"
            d="M123,0c-9,0-16,8-16,19c0,13,7,19,16,19s16-6,16-19C139,8,132.021,0,123,0z M123,34c-7.006,0-11-7-11-15
            s4-15,11-15s11,7,11,15S130.006,34,123,34z" />

          <!-- unicode "T" -->
          <path
            fill="#888"
            d="M149,4h-10V0h25v4h-10v34h-5V4z" />

          <!-- unicode "E" -->
          <path
            fill="#888"
            d="M186,20h-13v14h15v4h-20V0h19v4h-14v12h13V20z" />
        </g>
      </svg>
    </a>
  </div>

  <p class="tagline">{{ site.tagline }}</p>
</header>
