<header class="siteHeader">
  <div class="logo">
    <a href="{{ site.baseurl }}/">

      <svg class="symbol" rol="img">
        <use xlink:href="#symbol-shadow" class="shadow" />
        <use xlink:href="#symbol-note" class="note" />
        <use xlink:href="#symbol-number" class="number" />
      </svg>

      <svg class="logotype" viewBox="0 0 188 38" aria-labelledby="logoTitle">
        <title id="logoTitle">{{ site.title | xml_escape }}</title>
        <use xlink:href="#logotype-1up" class="logotype-1up" />
        <use xlink:href="#logotype-note" class="logotype-note" />
      </svg>
    </a>
  </div>

  <p class="tagline">{{ site.tagline }}</p>
</header>
