<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="/assets/styles/style.css">
  <link rel="alternate" type="application/rss+xml" title="My Weblog feed" href="/feed.xml/">
</head>
