<!-- Import common javascript files -->
<script src="{{ '/libs/jquery-2.1.4.min.js' | prepend: site.path.js }}"></script>
<script src="{{ '/plugins/fastclick/fastclick-1.0.6.min.js' | prepend: site.path.js }}"></script>
<script src="{{ '/common.js' | prepend: site.path.js }}"></script>

<!-- Import javascript files from  -->
{% if page.scripts.size > 0 %}
  {% for src in page.scripts %}
    {% if src contains '//' %}
      {% assign src = site.path.js + src %}
      <script src="{{ src }}"></script>
    {% else %}
      <script src="{{ src | prepend: site.path.js }}"></script>
    {% endif %}
  {% endfor %}
{% endif %}
