@import "base/_variables";
@import "base/_mixins";
@import "base/_reset";
@import "base/_fonts";

html {
  background-color: #fff;
  font-size: 62.5%;
  text-size-adjust: 100%;
  color: #4c4c4c;
}

body {
  font: 300 1.4rem/1.2 sans-serif;
}

.siteHeader {
  padding: 4rem 2rem;
  border-bottom: .1rem solid #eee;

  .logo {
    max-width: 18.8rem;
    margin: 0 auto;
    text-align: center;

    a {
      position: relative;
      display: block;
      width: 100%;
      height: 0;
      overflow: hidden;
      padding-top: percentage(38 / 188);

      .logotype {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: auto;

        .logotype-1up {
          fill: #2c83bf;
        }

        .logotype-note {
          fill: #5a5a5a;
        }
      }

      &:hover,
      &:focus {
        .logotype {
          .logotype-1up {
            fill: #005fa0;
          }

          .logotype-note {
            fill: #222;
          }
        }
      }
    }
  }

  .tagline {
    margin-top: 1rem;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.2rem;
    color: #a0aab8;
    cursor: default;
  }
}
