---
layout: null
---

.gsc-tabsAreaInvisible,
.gsc-resultsHeader,
.gsc-thumbnail-inside,
.gsc-url-top,
.gs-visibleUrl-short,
.gs-watermark {
    display: none;
}

.gcsc-branding {
    margin-top: 2rem;
    font-size: 1.1rem;
    color: #999;

    .gcsc-branding-img-noclear {
        vertical-align: middle;
    }
}
