---
layout: null
---

/**
 * Google Custom Search Engine styles
 * https://cse.google.com/
 */

.gsc-tabsAreaInvisible,
.gsc-resultsHeader,
.gsc-thumbnail-inside,
.gsc-url-top,
.gs-visibleUrl-short,
.gs-watermark {
    display: none;
}

.gsc-results-wrapper-visible {
    position: relative;
}

.gsc-above-wrapper-area {
    margin-bottom: 2rem;
}

div.gs-title {
    margin-bottom: .8rem;

    a.gs-title {
        font-family: NanumBarunGothic, "나눔바른고딕", nanum-barun-gothic, sans-serif;
        font-size: 2.5rem;
        line-height: 1.2;
        font-weight: normal;
        color: #5c6062;

        b,
        strong {
            font-weight: normal;
        }

        &:hover,
        &:focus {
            outline: none;
            border-bottom: .1rem dotted #aaa;
            color: #333;
        }
    }
}

.gs-visibleUrl-long {
    margin-top: .4rem;
    font-size: 1.2rem;
    color: #888;
}

.gsc-cursor-box {
    margin-top: 2rem;
    text-align: center;

    .gsc-cursor {
        display: inline;

        .gsc-cursor-page {
            display: inline-block;
            cursor: pointer;
        }

        .gsc-cursor-current-page {
            font-weight: bold;
            color: #3fa1d5;
        }
    }
}

.gcsc-branding {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.1rem;
    white-space: nowrap;
    color: #999;

    .gcsc-branding-img-noclear {
        vertical-align: middle;
    }
}
