/*
 * Default styles
 */

html {
    background-color: #fff;
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    line-height: 1.2;
    font-family: Helvetica, Arial, sans-serif;
    color: #555;
}

input,
textarea {
    font-family: Helvetica, Arial, sans-serif;
    color: #555;

    ::-webkit-input-placeholder {
        color: #aaa;
    }

    &::-moz-placeholder {
        color: #aaa;
    }

    &:-ms-input-placeholder {
        color: #aaa;
    }

    &[type="search"]::-webkit-input-placeholder {
        display: none;
    }
}

