@charset "utf-8";

$fontPath: "/assets/fonts";

@font-face {
    $nanumBG: $fontPath + "/nanumbarungothicregular";

    font-family: "nanum-barun-gothic";
    src: url("#{$nanumBG}.eot");
    src: url("#{$nanumBG}.eot?#iefix") format("embedded-opentype"),
        url("#{$nanumBG}.woff2") format("woff2"),
        url("#{$nanumBG}.woff") format("woff"),
        url("#{$nanumBG}.ttf") format("truetype"),
        url("#{$nanumBG}.svg#nanum-barun-gothic-regular") format("svg");
    font-weight: normal;
    font-style: normal;
}
