h2 posts

.list
  dl
    each item, link in posts
      .listWrap
        dt.subject
          a(href= item.permalink)
            = item.title
        dd
          dl
            dt summary
            dd= item.summary
            dt date
            dd
            time(datetime= $.date(item.date, 'isoUtcDateTime'))
              = $.date(item.date, 'withDash')
            dt tags
            dd
              ul
                each tag in item.tags
                  li
                    a(href= '/tags/' + tag)= tag
