---
layout: null
---
@charset "utf-8";

/*!
  _ _   _ ___
 / | | | | _ `
 | | |_| |  _/
 |_|.___/|_|

 {{ site.title | upcase }} v{{ site.version }}
 {{ site.tagline }}
 Last updated at {{ site.posts.first.date | date: "%B %-d, %Y" }}

*/

/* Imports for all settings */
@import "mixins";
@import "reset";
@import "variables";
@import "fonts";
@import "defaults";
@import "pygments";

.globalNav {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding: .6rem 1rem;
    background-color: rgba(255,255,255,.92);
    box-shadow: inset 0 .2rem .2rem rgba(0,0,0,.05), inset 0 -.1rem 0 rgba(255,255,255,.6), 0 .1rem 0 rgba(0,0,0,.08);
    text-shadow: 0 .1rem rgba(255,255,255,.5);

    .globalNavWrap {
        position: relative;
        display: table;
        width: 100%;

        .homeCol {
            display: table-cell;
            vertical-align: middle;

            .logoLink {
                display: inline-block;
                padding: .6rem 0;
                vertical-align: middle;
                font-size: 0;

                .logotype {
                    width: 6.3rem;
                    vertical-align: middle;

                    .logotype-1up {
                        fill: #222;
                    }

                    .logotype-note {
                        fill: #888;
                    }
                }
            }

            .currentPage {
                margin-left: .2rem;
                font-weight: normal;
                font-size: 1.4rem;
                color: #888;
                vertical-align: middle;

                &:before {
                    content: "";
                    display: inline-block;
                    width: .4rem;
                    height: .4rem;
                    margin-right: .6rem;
                    border-width: .1rem .1rem 0 0;
                    border-style: solid;
                    border-color: #aaa;
                    vertical-align: middle;
                    transform: rotate(45deg);
                }
            }
        }
    }
}

.siteHeader {
    padding: 12rem 0 7rem;
    border-bottom: .1rem solid #eee;

    .logo {
        width: 16rem;
        margin: 0 auto;

        a {
            display: block;

            .symbol {
                display: block;
                width: 10.7rem;
                height: 7.5rem;
                margin: 0 auto 1.6rem;

                .note {
                    fill: #3fa1d5;
                    transition: fill .2s;
                }

                .number {
                    fill: #fff;
                }
            }

            .logotype {
                display: block;
                width: 16rem;
                height: 3.2rem;

                .logotype-1up {
                    fill: #222;
                    transition: fill .3s;
                }

                .logotype-note {
                    fill: #888;
                    transition: fill .3s;
                }
            }

            &:hover {
                .symbol {
                    .note {
                        fill: #3595c8;
                    }
                }

                .logotype {
                    .logotype-1up {
                        fill: #555;
                    }

                    .logotype-note {
                        fill: #666;
                    }
                }
            }
        }
    }

    .tagline {
        margin-top: 1rem;
        font-size: 1.3rem;
        text-align: center;
        text-transform: capitalize;
        color: #999;
        cursor: default;
    }
}

.siteContent {
    background-color: #fff;

    .contentWrap {
        box-sizing: border-box;
        max-width: 80rem;
        min-height: 30rem;
        overflow: hidden;
        margin: 0 auto;
        padding: 1.5rem 1rem 4rem;
        font-size: 1.4rem;

        .empty {
            padding: 4rem 0;
            text-align: center;
            font-size: 1.8rem;
            color: #999;
        }

        .mainList {
            .posts {
                margin-top: 2rem;

                .post {
                    padding: 0 .6rem;

                    + .post {
                        margin-top: 4rem;
                    }

                    h2 {
                        margin-bottom: .6rem;
                        font-size: 2.2rem;
                        line-height: 1.2;

                        a {
                            color: #5c6062;

                            &:hover,
                            &:focus {
                                outline: none;
                                border-bottom: .1rem dotted #aaa;
                                color: #333;
                            }
                        }
                    }

                    .meta {
                        position: relative;
                        padding-left: 1rem;
                        font-size: 1.3rem;
                        color: #999;

                        &:before {
                            position: absolute;
                            top: 0;
                            left: .2rem;
                            content: "\2022";
                        }

                        a {
                            color: #7a7a7a;

                            &:not(:last-child):after {
                                content: ",";
                            }

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        dt {
                            display: inline-block;

                            &:after {
                                content: ":";
                                margin-right: .6rem;
                            }
                        }

                        dd {
                            display: inline-block;
                            margin-right: 1.2rem;
                        }
                    }

                    .excerpt {
                        margin-top: 1.4rem;
                        font-size: 1.4rem;
                        line-height: 1.4;
                        text-align: justify;
                        color: #666;
                    }
                }
            }
        }

        .postContent {
            .postHeader {
                h1 {
                    margin-bottom: .6rem;
                    font-weight: normal;
                    font-size: 2.4rem;
                    line-height: 1.2;
                    font-family: NanumBarunGothic, "나눔바른고딕", nanum-barun-gothic, sans-serif;
                    letter-spacing: -.02rem;
                    color: #4a4a4a;
                }

                .meta {
                    position: relative;
                    padding-left: 1rem;
                    font-size: 1.3rem;
                    color: #999;

                    &:before {
                        position: absolute;
                        top: 0;
                        left: .2rem;
                        content: "\2022";
                    }

                    a {
                        color: #7a7a7a;

                        &:not(:last-child):after {
                            content: ",";
                        }

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    dt {
                        display: inline-block;

                        &:after {
                            content: ":";
                            margin-right: .6rem;
                        }
                    }

                    dd {
                        display: inline-block;
                        margin-right: 1.2rem;
                    }
                }
            }

            .postArticle {
                margin-top: 2rem;
                font-size: 1.5rem;
                line-height: 1.4;

                h2 {
                    margin: 2rem 0 .4rem;
                    font-weight: normal;
                    font-size: 2.2rem;
                    font-family: NanumBarunGothic, "나눔바른고딕", nanum-barun-gothic, sans-serif;
                    color: #444;
                }

                p {
                    text-align: justify;
                    letter-spacing: -.02rem;
                    line-height: 1.5;

                    + p {
                        margin-top: 1.2rem;
                    }
                }

                a {
                    color: darken(#3fa1d5, 10%);
                    text-decoration: underline;
                }

                em,
                strong {
                    font-weight: bold;
                }

                abbr {
                    border-bottom: .1rem dotted #bbb;
                    cursor: default;
                }

                code,{
                    display: inline-block;
                    padding: .2rem .5rem .1rem;
                    border-radius: .5rem;
                    box-shadow: inset 0 0 .1rem rgba(0,0,0,.14);
                    white-space: nowrap;
                    background-color: rgba(0,0,0,.05);
                    font-size: 1.3rem;
                    line-height: 1;
                    color: #ef4c4c;
                }

                kbd {
                    display: inline-block;
                    padding: .3rem .5rem .2rem;
                    background-color: #fff;
                    border-width: .1rem;
                    border-style: solid;
                    border-color: #ddd #ddd #ccc;
                    border-radius: .3rem;
                    box-shadow: 0 .1rem 0 0 rgba(0,0,0,.1);
                    vertical-align: .1rem;
                    font-size: 1.1rem;
                    line-height: 1rem;
                    color: #666;
                }

                .highlight {
                    margin: 1rem 0;
                    padding: 1rem 1rem .2rem;
                    border-radius: .5rem;

                    pre {
                        padding-bottom: .8rem;
                        overflow-x: auto;
                        -webkit-overflow-scrolling: touch;

                        &::-webkit-scrollbar {
                            width: 1.4rem;
                            height: 1.4rem;
                        }

                        &::-webkit-scrollbar-thumb {
                            height: .6rem;
                            border: .4rem solid rgba(0,0,0,0);
                            background-clip: padding-box;
                            -webkit-border-radius: .7rem;
                            background-color: rgba(0,0,0,.15);
                            -webkit-box-shadow: inset -.1rem -.1rem 0 rgba(0,0,0,.05), inset .1rem .1rem 0 rgba(0,0,0,.05);
                        }

                        &::-webkit-scrollbar-button {
                            width: 0;
                            height: 0;
                            display: none;
                        }

                        &::-webkit-scrollbar-corner {
                            background-color: transparent;
                        }

                        code {
                            display: block;
                            padding: 0;
                            background-color: transparent;
                            border-radius: 0;
                            box-shadow: none;
                            font-size: 1.2rem;
                            line-height: inherit;
                            white-space: pre;
                            color: inherit;

                            &::selection,
                            span::selection {
                              background: black;
                            }
                        }
                    }
                }
            }
        }

        .archiveContent {
            h3 {
                font-size: 2.2rem;
                line-height: 1.2;
                color: #4a4a4a;
            }

            .posts {
                margin-top: .4rem;
                font-size: 1.5rem;

                + h3 {
                    margin-top: 2.6rem;
                }

                li {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                a {
                    white-space: nowrap;
                    color: #5a5a5a;

                    time {
                        padding: .2rem 0 .2rem 1.4rem;
                        width: 5rem;
                        vertical-align: middle;
                        white-space: nowrap;
                        padding-right: 1rem;

                        &:before {
                            content: "\2022";
                            margin-right: .4rem;
                        }
                    }
                }
            }
        }

        .tagsContent {
            h3 {
                font-size: 2.2rem;
                line-height: 1.2;
                color: #4a4a4a;
            }

            .posts {
                margin-top: .4rem;
                font-size: 1.5rem;

                + h3 {
                    margin-top: 2.6rem;
                }

                li {
                    overflow: hidden;
                    text-overflow: ellipsis;

                    a {
                        white-space: nowrap;
                        color: #5a5a5a;
                    }
                }
            }
        }
    }
}

.siteFooter {
    border-top: .1rem solid #eee;
    padding: 3rem 2rem;
    text-align: center;
    font-size: 1.2rem;
    color: #808080;

    a {
        color: #666;

        &:hover {
            text-decoration: underline;
        }
    }
}

.contact {
    display: table;
    table-layout: fixed;
    width: 100%;

    .social {
        display: table-cell;
    }

    .formMail {
        display: table-cell;

        input[type="text"],
        input[type="email"],
        textarea {
            box-sizing: border-box;
            display: block;
            width: 100%;
            margin-bottom: .4rem;
            padding: .8rem 1rem;
            border: .1rem solid #ccc;
            outline: none;

            &:focus {
                border-color: #aaa;
            }
        }

        textarea {
            resize: vertical;
        }
    }

    @media all and (max-width: 640px) {
        display: block;

        .social,
        .formMail {
            display: block;
        }
    }
}

@media only screen and (max-width: 35em) {
    @import "smallDevice";
}

@media print {
    @import "print";
}
