---
layout: null
---

/*!
  _ _   _ ___
 / | | | | _ `
 | | |_| |  _/
 |_|.___/|_|

 {{ site.title }} - {{ site.tagline }}
 Last post update's date: {{ site.posts.first.date | date: "%B %-d, %Y" }}
 Version: {{ site.version }}

*/

/* Imports for all settings */
@import 'mixins';
@import 'reset';
@import 'fonts';
@import 'defaults';
@import 'pygments';

/* Variables */
// Assets path
$base: '/assets/images';
$ui: $base + '/ui';

// colors
$blue: '#3fa1d5';

.siteHeader {
    padding: 10rem 0 8rem;
    border-bottom: .1rem solid #eee;

    .logo {
        width: 16rem;
        margin: 0 auto;

        a {
            display: block;

            .symbol {
                display: block;
                width: 10.7rem;
                height: 7.5rem;
                margin: 0 auto 1.6rem;

                .note {
                    transition: fill .2s;
                }
            }

            .logotype {
                display: block;

                path {
                    transition: fill .2s;
                }
            }

            &:hover {
                .symbol {
                    .note {
                        fill: #3595c8 !important;
                    }
                }

                .logotype {
                    .text-1up {
                        fill: #555 !important;
                    }

                    .text-note {
                        fill: #666 !important;
                    }
                }
            }
        }
    }

    .tagline {
        margin-top: 1rem;
        font-size: 1.3rem;
        text-align: center;
        color: #999;
        cursor: default;
    }
}

.siteContent {
    background-color: #fff;

    .contentWrap {
        box-sizing: border-box;
        max-width: 80rem;
        min-height: 30rem;
        margin: 0 auto;
        padding: 1rem;
        font-size: 1.4rem;
    }
}

.siteFooter {
    font-size: 1.2rem;
    padding: 2rem;
    text-align: center;
    color: #808080;

    a {
        color: #aaa;

        &:hover {
            text-decoration: underline;
        }
    }
}
