---
layout: compress
---

<html lang="{{ site.language.code }}">
  <!-- head -->
  {% include head.html %}

  <body{% if page.pageId %} class="{{ page.pageId | prepend: 'page-' }}"{% endif %}>
    {% include globalNav.html %}

    <!-- Header -->
    {% include header.html %}

    <main class="siteContent">
      <article class="contentWrap">

        <!-- Content block -->
        {{ content }}
      </article>
    </main>

    <!-- Footer -->
    {% include footer.html %}

    <!-- SVG Symbols -->
    {% include svgSymbols.html %}

    <!-- Javascripts -->
    {% include scripts.html %}

    <!-- Include JSON-LD if directory is "_post" -->
    {% if page.path contains '_posts' %}
      {% include json-ld.html %}
    {% endif %}
  </body>
</html>
